html {
	scroll-behavior: smooth;
}

body {
	background-color: rgb(255, 214, 161);
}

/* Homepage container*/
.homepage-container {
	width: 100%;
}

/* Sections One, Two, and Three */
.section {
	max-width: 100%;
	height: 91vh;
}

/* Section One */
.cont-btn {
	background-color: transparent;
	border: none;
	color: rgb(255, 236, 220);
	font-size: 2.4vh;
	text-decoration: none;
}

.descript-one {
	margin-top: 40%;
}

.highlight {
	display: inline;
}

.highlight img {
	width: 100%;
	height: 100%;
}

.highlight-picture {
	position: relative;
}

.landing-description {
	display: flex;
}

.landing-product {
	width: 35vw;
}

.one-description {
	background-color: rgba(236, 159, 96, 0.9);
	color: white;
	font-size: 2.5em;
	letter-spacing: 0.1vw;
	line-height: 1.9;
	height: 85vh;
	padding: 3vh;
	text-align: center;
	width: 26.5vw;
}

.product-overlay {
	font-size: 3vw;
	text-align: center;
	height: 13.9vh;
	width: 35vw;
	letter-spacing: 0.5vw;
	padding-top: 15.8vh;
	padding-bottom: 15.8vh;
	opacity: 0.7;
	transition: ease-in-out 0.3s;
}

.product-overlay a {
	color: rgb(54, 54, 54);
	text-decoration: none;
}

.bread,
.butter,
.bonbread,
.bontoast {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

.bread:hover,
.butter:hover,
.bonbread:hover,
.bontoast:hover {
	font-size: 3.15vw;
	opacity: 1;
	transition: all 0.5s;
}

.bread {
	background-image: url(../../assets/bread.jpg);
}

.butter {
	background-image: url(../../assets/butter.jpg);
}

.bonbread {
	background-image: url(../../assets/bonbread.jpg);
}

.bontoast {
	background-image: url(../../assets/bontoast.jpg);
}

.landing-button {
	margin-top: 3vh;
}

.sone-left {
	margin-left: auto;
}

/* Section Two*/

.section-two {
	background-color: rgb(165, 42, 42);
	display: flex;
	height: 100vh;
}

.stwo-wording {
	background-color: rgba(236, 159, 96, 0.9);
	box-shadow: 0px 0px 10px 2px rgb(189, 135, 92);
	/* border: 1px solid rgb(189, 135, 92); */
	height: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding: 3vh;
	text-align: center;
	transform: translate(4vw, -10vh);
	width: auto;
}

.stwo-wording p {
	color: white;
	font-size: 1.6em;
	line-height: 1.8;
}

.stwo-wording p:last-of-type {
	padding-bottom: 4vh;
}

.stwo-image {
	height: 90vh;
	width: 75vw;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

/* Section Three*/

.section-three {
	height: 94vh;
	padding-bottom: 4vh;
	padding-top: 2vh;
}

.LTO-buy {
	margin-top: 3vh;
}

.LTO-buy a {
	background-color: transparent;
	border: none;
	color: brown;
	font-size: 1.2em;
	letter-spacing: 0.1vw;
	text-decoration: none;
}

.sthree-countdown {
	background-color: rgb(248, 190, 114);
	padding: 2vh;
	text-align: center;
	width: 30vw;
}

.sthree-countdown p {
	color: red;
	font-size: 2em;
}

.sthree-image {
	height: 80vh;
	width: 65vw;
}

.sthree-LTO {
	display: flex;
}

.sthree-wording {
	background-color: rgba(236, 159, 96, 0.9);
	box-shadow: 0px 0px 10px 2px rgb(189, 135, 92);
	height: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding: 3vh;
	transform: translate(-3vw, -6vh);
	text-align: center;
	width: auto;
}

.sthree-wording p {
	color: rgb(255, 236, 220);
	font-size: 5vh;
	line-height: 1.4;
	padding: 2vh;
}

.sthree-warning {
	background-color: rgb(200, 206, 211);
	text-align: center;
	height: auto;
	line-height: 1.2;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1vh;
	padding: 1vh;
	width: 40%;
}
