body {
	background-color: rgb(255, 214, 161);
}

/* Homepage container*/
.homepage-container {
	width: 100%;
}

/* Sections One, Two, and Three */
.section {
	max-width: 100%;
	height: 91vh;
}

/* Section One */
.cont-btn {
	background-color: transparent;
	border: none;
	font-size: 3vh;
}

.descript-one {
	margin-top: 7vh;
}

.highlight {
	display: inline;
}

.highlight img {
	width: 100%;
	height: 100%;
}

.landing-description {
	display: flex;
}

.landing-product {
	height: auto;
	width: 32vw;
}

.one-description {
	background-color: rgba(235, 170, 116, 0.815);
	border: 2px solid rgb(189, 135, 92);
	font-size: 5.3vh;
	height: 55vh;
	letter-spacing: 0.1vw;
	line-height: 2;
	margin-left: auto;
	margin-right: 0;
	margin-top: 14vh;
	padding: 3vh;
	text-align: center;
	width: 22vw;
}

.sone-left {
	margin-left: auto;
}

.sone-right {
	margin-right: 1.3vw;
}

.sone-left,
.sone-right {
	margin-top: 9vh;
}

/* Section Two*/

.section-two {
	display: flex;
	height: 100vh;
}

.stwo-wording {
	background-color: rgb(235, 169, 116);
	border: 2px solid rgb(189, 135, 92);
	height: 34vh;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding: 3vh;
	text-align: center;
	transform: translate(4vw, -6vh);
	width: 30vw;
}

.stwo-wording p {
	color: rgb(255, 236, 220);
	font-size: 7vh;
	line-height: 1.3;
}

.stwo-image {
	border: 1px solid black;
	height: 70vh;
	width: 60vw;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

/* Section Three*/

.sthree-countdown {
	background-color: rgb(248, 190, 114);
	padding: 2vh;
	margin-left: 2.8vw;
	margin-bottom: 2vh;
	text-align: center;
	width: 25vw;
}

.sthree-countdown p {
	font-size: 4vh;
}

.sthree-image {
	border: 1px solid black;
	height: 70vh;
	width: 60vw;
	margin-left: auto;
}

.sthree-LTO {
	display: flex;
}

.sthree-wording {
	background-color: rgb(235, 169, 116);
	border: 2px solid rgb(189, 135, 92);
	height: 34vh;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
	padding: 3vh;
	transform: translate(-4vw, -6vh);
	text-align: center;
	width: 30vw;
}

.sthree-wording p {
	color: rgb(255, 236, 220);
	font-size: 7vh;
	line-height: 1.3;
}

.sthree-warning {
	background-color: rgb(200, 206, 211);
	text-align: center;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.3vh;
	padding: 1vh;
	width: 40%;
}
