.nav-container {
	display: flex;
	height: auto;
	min-height: 8vh;
	max-width: 100%;
}

.nav-links {
	font-size: 1.7vw;
	margin-left: auto;
	margin-right: 10%;
	padding: 2vw;
}

.nav-links a,
.nav-logo a {
	color: brown;
	text-decoration: none;
	padding: 1vw;
}

.nav-logo {
	color: brown;
	font-size: 1.9vw;
	margin-left: 10%;
	padding: 2vw;
	text-align: center;
}

.nav-links a:focus,
.nav-logo a:focus {
	outline: none;
	box-shadow: none;
}
